/* 该文件配置网站的文字  图标 等等 一系列dom元素的样式文件 */
:root {
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient( 135deg, #F6CEEC 10%, #D939CD 100%);
  
  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient( 135deg, #F6CEEC 10%, #D939CD 100%);
  --vp-home-hero-image-filter: blur(150px);

  /* botton按钮 */
  /* --vp-button-brand-border: #81634b; */
  /* 按钮文本颜色 */
  --vp-button-brand-text: #ffffff;
  /* 按钮背景颜色 */
  --vp-button-brand-bg: #D939CD;

/*#00FFEE*/
  /* 鼠标悬停的效果之后的样式 */
  --vp-button-brand-hover-border: #bd34fe;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #bd34fe;

  --vp-button-brand-active-border: #bd34fe;

  /* 主题基色 */
  --vp-c-brand: #bd34fe;
  /* 白色模式 主题基色 */
  --vp-c-brand-light: #bd34fe;
  /* 黑色模式 主题基色 */
  --vp-c-brand-dark: #bd34fe;
}
